#!/usr/bin/python2
#
# Report Puppet last run state to Zabbix
#
########################################################################
#
# puppet config print --section agent lastrunfile
# $settings::lastrunfile -> template
#
# === Parameters
#   yaml hierarchy param 1
#   yaml hierarchy param 2

# For example "version" "puppet"
# or "events" "failure"
#
# === Depends
#  python PyYAML egg
#  please install PyYAML package on RedHat family
#
# === Author
# - Original version: Yvan Broccard <yvan.broccard@hopitalvs.ch>
#
########################################################################

"""
Reads Puppet YAML last run state file and reports given value to be
used by Zabbix agent.
"""

import sys
import time
import yaml

PUPPET_LAST_RUN_SUMMARY = '<%= @lastrunfile %>'

try:
    PUPPET_STATE_FILE = open(PUPPET_LAST_RUN_SUMMARY, "r")
except OSError as err:
    print "OS error: {0}".format(err)

PUPPETSTATE = yaml.load(PUPPET_STATE_FILE)

if len(sys.argv) != 3:
    print "Wrong number of arguments"
    print "\nIt should be 2, like \"version\" \"puppet\""
    exit(1)

if sys.argv[1] == 'custom' and sys.argv[2] == 'lastrun':
    LASTRUN_SECOND_AGO = int(time.time()) - PUPPETSTATE["time"]["last_run"]
    LASTRUN_DATE = time.strftime('%Y-%m-%d %H:%M:%S',
                                 time.localtime(PUPPETSTATE["time"]["last_run"]))
    print LASTRUN_DATE
    exit(0)

print PUPPETSTATE[sys.argv[1]][sys.argv[2]]
